nav.navbar {
	margin-bottom:0;
}

.navbar-fixed-top {
	position:absolute;
}

.list-group {
	position: absolute;
    z-index: 999;
}

.navbar-header {
	background-color: #00d2ff;
  border-color: #009aff;
}


.navbar-default {
  width:100%;
	background-color: #00d2ff;
  border-bottom: 4px solid #79E8FF; 
  border-right: 4px solid #79E8FF; 
  border-radius: 5px;
}

.outer {
	position:relative;
	border-bottom: 1px solid #CCF7FF;
  border-radius: 5px;
}

.navbar-default .navbar-text {
  color: #ffffff;
}


/* adjust font */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-family: arial;
  font-weight: 400;
  font-size: 1.5em;
}

/* responsive images */ 
.img-responsive {
 display: inline-block;
 height: auto;
 max-width: 100%;
}






/* unused */

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #00d2ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #009aff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #00d2ff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #009aff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #009aff;
}
.navbar-default .navbar-toggle {
  border-color: #009aff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #009aff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #009aff;
  }
}


